@import "variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'FangZhengFangSong', serif;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100vh;
}

li {
  list-style: none;
}

i {
  font-style: normal;
}

a {
  color: $color-primary;
  transition: color ease .3s;

  &:hover {
    color: $color-gold;
  }
}
