$base-bg: #EEE1D1;
$color-light: #EFEFEF; // #EBE3C7 // #EBEEE8
$color-gold: #B48F53;
$color-red: #AB1D22; // #BE1528 #8F1D22  #D12920 #C8161D
$color-red-light: #ffc0c3; // #BE1528 #8F1D22  #D12920 #C8161D
$color-green-dark: #2A6E3F;
$color-green: #68945C;
$color-green-light: #D5E3D4;
$color-primary: #68361A;
$color-primary-light: rgba(104, 54, 26, 0.05);
$color-blue: #1A2847;
$color-bg: #EFEFEF; // #DFD7C2
