$base-bg: #EEE1D1;
$color-light: #EBEEE8; // #EBE3C7 // #EBEEE8
$color-gold: #B48F53;
$color-red: #BE1528;
$color-green-dark: #2A6E3F;
$color-green-light: #D5E3D4;
$color-primary: #68361A;
$color-blue: #00182f;
$apc-bg: #DFD7C2;